<div id="cart" class="popup">
    <form action="#" class="popup__body cart">
        <div class="cart__header">
            <div class="cart__title">
                Ваш заказ
            </div>
            <button type="button" aria-label="Закрыть корзину" data-modal-close class="cart__close icon-close"></button>
        </div>
        <table class="cart__table">
            <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Стоимость</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="cart__list"></tbody>
        </table>
        <div class="cart__total">
            <div class="cart__total-text">
                Итого:
            </div>
            <div data-total class="cart__total-value">790</div>
        </div>
        <div class="cart__delivery">
            <div class="cart__delivery-caption">
                Доставка
            </div>
            <div class="cart__delivery-body">
                <div class="cart__options">
                    <label class="cart__option">
                        <input type="radio" name="Доставка" checked value="Самовывоз" class="cart__option-input hidden" hidden>
                        <span class="cart__option-content">
                            Самовывоз
                        </span>
                    </label>
                    <label class="cart__option">
                        <input type="radio" name="Доставка" value="Доставка" class="cart__option-input hidden" hidden>
                        <span class="cart__option-content">
                            Доставка по Краснодару (оплачивается отдельно)
                        </span>
                    </label>
                </div>
                <div class="cart__delivery-price">
                    500 руб.
                    <small>(при заказе от 2500 руб. - бесплатно)</small>
                </div>
            </div>
            <div class="cart__footer">
                <div class="cart__rows">
                    <div class="cart__row">
                        <input type="text" name="Имя" required class="input" placeholder="Ваше имя...">
                    </div>
                    <div class="cart__row">
                        <input type="email" name="email" required class="input" placeholder="Ваш e-mail">
                    </div>
                </div>
                <button type="submit" class="cart__btn btn btn-primary">Оплатить</button>
                <div class="cart__privacy">
                    Нажимая кнопку "Оплатить" вы соглашаетесь с <a href="#privacy" data-modal>политикой обработки персональных данных</a>
                </div>
            </div>
        </div>
    </form>
</div>
{{!-- <div id="payment" class="popup">
    <div class="popup__body">
        <div id="payment-form"></div>
    </div>
</div> --}}
{{!-- <div id="payment-form"></div> --}}